<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Do I Have This?</title>
    <script src="vendors/jquery-3.0.0.min.js" charset="utf-8"></script>
    <script src="scripts/client.js" charset="utf-8"></script>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
</head>

<body>
    <section class="admin">
        <h3>New Color:
            <input type="text" id="newColorIn">
            <button type="button" id="newColorButton"><i class="fa fa-plus"></i></button>
        </h3>
        <h3>New Size:
            <input type="text" id="newSizeIn">
            <button type="button" id="newSizeButton">Create Size</button>
        </h3>
        <h3>New Item:
            <input type="text" id="newItemNameIn">
            <select id="newItemColorIn" class="color-select"></select>
            <select id="newItemSizeIn" class="size-select"></select>
            <button type="button" id="newItemButton">Create Item</button>
        </h3>
        <h3>Colors:
            <select id="colorToRemove" class="color-select"></select>
            <button type="button" id="removeColorButton">Remove Color</button>
        </h3>
        <h3>Sizes:
            <select id="sizeToRemove" class="size-select"></select>
            <button type="button" id="removeSizeButton">Remove Size</button>
        </h3>
        <h3>Items:
            <select id="itemToRemove" class="item-select"></select>
            <button type="button" id="removeItemButton">Remove Item</button>
        </h3>
        <button id="switchToSearch">Go to search</button>
    </section>
    <section class="search">
        <h3>Find an item:</h3>
        <input type="text" id="searchName" placeholder="Item Name">
        <select id="searchColor" class="color-select"></select>
        <select id="searchSize" class="size-select"></select>
        <button type="button" id="searchButton">Search</button>
        <ul id="searchResults"></ul>
        <button id="switchToAdmin">Go to admin</button>
    </section>
</body>

</html>
