<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Do I Have This?</title>
    <script src="vendors/jquery.min.js" charset="utf-8"></script>
    <script src="scripts/client.js" charset="utf-8"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <section class="admin">
        <h3>New Color:
            <input type="text" id="newColorIn">
            <button type="button" id="newColorButton">Create Color</button>
        </h3>
        <h3>New Size:
            <input type="text" id="newSizeIn">
            <button type="button" id="newSizeButton">Create Size</button>
        </h3>
        <h3>New Item:
            <input type="text" id="newItemNameIn">
            <select id="newItemColorIn"></select>
            <select id="newItemSizeIn"></select>
            <button type="button" id="newItemButton">Create Item</button>
        </h3>
    </section>
</body>

</html>
